{{> header }}

<div class="container col-4">
    <h2 class='my-5 text-center'>Login</h2>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="m-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
    </form>
</div>


{{> footer }}